<% if @name %>
  <h1>My name is <%= @name %></h1>
<% end %>

<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
 </form>

<div style="border: 10px dotted red">
  <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png">
</div>
